<%= render partial: "shared/index_links" %>


<h1>Pocket Monsters Index Page</h1>

<% @pocket_monsters.each do |pocket_monster|%>

   <% if pocket_monster.captured == true %>
      <h3><%= "Name: #{pocket_monster.name}" %></h3>
      <h3><%= "Level: #{pocket_monster.level}" %></h3>
      <h3><%= "Captured: #{pocket_monster.captured}" %></h3>
      <h3><%= "Trainer: #{pocket_monster.trainer_id}" %></h3>
      <%= link_to "Update Pocket Monster #{pocket_monster.id}", "/pocket_monsters/#{pocket_monster.id}/edit"%>
      <br>
      <%= link_to "Delete Pocket Monster #{pocket_monster.id}", "/pocket_monsters/#{pocket_monster.id}", method: :delete%>
      <br>
   <% end %>
   <br>
<% end %>