<%= render partial: "shared/index_links" %>

<h1>Pocket Monster Show Page</h1>
<br>
<h2><%= "Pocket Monster ID: #{@pocket_monster.id}" %></h2>
<h3><%= "Name: #{@pocket_monster.name}" %></h3>
<h3><%= "Level: #{@pocket_monster.level}" %></h3>
<h3><%= "Captured: #{@pocket_monster.captured}" %></h3>
<h3><%= "Trainer: #{@pocket_monster.trainer_id}" %></h3>
<br>
<%= link_to "Update Pocket Monster", "/pocket_monsters/#{@pocket_monster.id}/edit" %>