<%= render partial: "shared/pocket_monsters" %>

<h1>Trainer Show Page</h1>
<br>
<h2><%= "Trainer ID: #{@trainer.id}" %></h2>
<h3><%= "Name: #{@trainer.name}" %></h3>
<h3><%= "Age: #{@trainer.age}" %></h3>
<h3><%= "Leader: #{@trainer.leader}" %></h3>
<h3><%= "Pocket Monsters Count: #{@trainer.monsters_count}" %></h3>